<div class="page-container" id="ztree-json-view">
	<div class="row cl">
		<div class="col-xs-6 col-sm-8 col-xs-offset-3 col-sm-offset-2" id="errorInfo"></div>
	</div>
	<div class="row cl">
		<div class="col-xs-6 col-sm-6">
			<ul id="treeDemo" class="ztree"></ul>	
		</div>
		<div class="col-xs-6 col-sm-6" >
			<div id="show-parameter-info" style="position:fixed;width:340px;height:460px;">
					<table class="table table-bg">
						<tr>
							<td style="width:28%">参数ID:</td>
							<td data-name="parameterId"></td>
						</tr>
						<tr>
							<td>参数标识:</td>
							<td data-name="parameterIdentify"></td>
						</tr>
						<tr>
							<td>参数名:</td>
							<td data-name="parameterName"></td>
						</tr>
						<tr>
							<td>节点路径:</td>
							<td data-name="path"></td>
						</tr>
						<tr>
							<td>节点类型:</td>
							<td data-name="type"></td>
						</tr>
						<tr>
							<td>默认值:</td>
							<td data-name="defaultValue"></td>
						</tr>
						<tr>
							<td>备注:</td>
							<td data-name="mark"></td>
						</tr>
						<tr>
							<td colspan="2"><button type="button" id="choose-this-path" class="btn btn-danger radius size-S">确定选择</button></td>
						</tr>
				</table>
			</div>
		</div>
	</div>
</div>