<div class="page-container" id="message-scene-test-view">
	<div class="cl pd-5 bg-1 bk-gray mt-0">
		<span class="l" style="line-height: 30px;"> 
			<span id="request-url" style="font-size: 16px;"></span>
		</span>
		<span class="r"> 
			<a href="javascript:;" onclick="sceneTest();" class="btn btn-warning radius">执行测试</a>
		</span>
		</div>
	
	<span class="select-box" style="margin-bottom: 10px;"><select class="select" size="1" id="select-system"></select></span>
	<span class="select-box" style="margin-bottom: 10px;"><select class="select" size="1" id="select-data"></select></span>		
	<textarea style="height: 270px;" class="textarea radius"  id="scene-test-request-message" placeholder="" disabled="disabled"></textarea>
</div>